.container{
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: red;

  .card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .card{
      border: 1px solid black;
      width: 200px;
      height: 295px;
      margin:40px 19px 0 19px;

      .card_img{
        height: 180px;
        object-fit: cover;
        width: 100%;
      }

    }
    h5{
      color: wheat;
      width: 100px;
      margin: 0 auto;
      font-size: 15px;
      .class{
        justify-content: center;
        align-items: center;
      }

    }

  }

}